$backgroundColor: #171718;
$borderColor: #26292d;
$primerycolor: #5c62ec;
$cardColor: #1c1e22;
$nameColor: #85bfd1;
$linkColor: #ffff;

body {
  margin: 0;
  background-color: $backgroundColor;
  font-family: "DM Sans", sans-serif;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor:pointer;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 18px 16px;
  border-bottom: 1px solid $borderColor;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $backgroundColor;

  &-links {
    display: none;
  }

  @media (min-width: 992px) {
    .navbar-burger {
      display: none;
    }
    .navbar-links {
      display: flex;
      gap: 23px;
      position: relative;

      &-link {
        color: white;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        padding-bottom: 5px;
        position: relative;

        &:hover {
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $primerycolor;
            height: 3px;
          }
        }
      }
    }
  }
}

.my-info {
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  @media (min-width: 992px) {
      height: 90vh;
  }
  
  &-title {
    color: white;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
    font-weight: 500;
    max-width: 265px;
    text-align: center;
    margin-bottom: 24px;

    @media (min-width: 992px) {
      font-size: 60px;
      line-height: 71px;
      letter-spacing: -0.5px;
      font-weight: 700;
      max-width: 524px;
      margin-bottom: 32px;
    }

    &-name {
      color: $primerycolor;
    }
  }

  &-buttons {
    flex-direction: column;
    @media (min-width: 992px) {
      flex-direction: row;
      gap: 24px;
    }
  }

  .button__solid {
    margin-bottom: 16px;
  }
}

.about {
  padding: 0 16px 64px 16px;
  &-card {
    color: white;
    background-color: $cardColor;
    padding: 16px;
    border-radius: 8px;
    flex-direction: column;
    max-width: 967px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 992px) {
      flex-direction: row;
      gap: 32px;
    }

    &-img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      @media (min-width: 992px) {
        max-width: 326px;
      }
    }
    &-title {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 16px;
      margin-top: 24px;

      @media (min-width: 992px) {
        font-size: 48px;
        font-weight: 500;
        line-height: 57px;
        margin-top: 0;
      }
    }

    &-description {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.44px;
      margin-bottom: 16px;
      text-align: justify;

      @media (min-width: 992px) {
        margin-bottom: 24px;
      }
    }
  }
}

.footer {
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;

  &__border {
    border-top: 1px solid $borderColor;
  }

  &-content {
    flex-direction: column;
    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 64px;
    }
  }

  &-logo {
    padding-top: 31px;
    @media (min-width: 992px) {
      padding-top: 0px;
    }
  }

  &-column {
    flex-direction: column;
    text-align: center;
    padding-top: 32px;

    @media (min-width: 992px) {
      text-align: left;
    }

    &-name {
      color: $nameColor;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.15px;
      padding-bottom: 24px;
      @media (min-width: 992px) {
        margin-top: 0;
      }
    }
    &-link {
      color: $linkColor;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
    }
  }

  &-copy {
    border-top: 1px solid $borderColor;
    width: 100%;
    margin-top: 48px;
    @media (min-width: 992px) {
      margin-top: 64px;
      
    }

    &-text {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: white;
      padding-top: 16px;
      text-align: center;
      padding-bottom: 20px;
      margin: 0px;

      @media (min-width: 992px) {
        text-align: left;
        padding-bottom: 32px;
      }
    }
  }
}

//classes genéricas

.button {
  border-radius: 5px;
  height: 48px;
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  &__solid {
    background-color: $primerycolor;
    padding: 16px;
    padding-left: 15.5px;
    padding-right: 15.5px;
  }

  &__outlined {
    border: 1px solid #ffff;
    padding-right: 20px;
    padding-left: 20px;
  }

  &-text {
    &__mr-left {
      margin-left: 8px;
    }
    &__mr-right {
      margin-right: 8px;
    }
  }
}

.container {
  max-width: 1156px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}
